---
import Layout from "@/layouts/Layout.astro";
import Bracket from "@/components/Bracket.astro";
import ButtonLink from "@/components/ButtonLink.astro";
import ClippedImage from "@/components/ClippedImage.astro";
import MapFrame from "@/components/MapFrame.astro";
import PriceTable from "@/components/PriceTable.astro";
import QAList from "@/components/QAList.astro";
import ShapedText from "@/components/ShapedText.astro";
import TimeTable from "@/components/TimeTable.astro";
import H2 from "./_components/H2.astro";
import H3 from "./_components/H3.astro";
import H4 from "./_components/H4.astro";
import Summary from "./_components/Summary.astro";
import hero from "./_assets/hero.webp";
import speaker from "./_assets/speaker.webp";

const overview = {
  title: "京葉地区青年キャンプ 2025",
  theme: "キリストに倣いて",
  themeVerse: "マタイの福音書 11:29",
};

const summaryItems = [
  {
    icon: "mdi:calendar-month-outline",
    label: "日程",
    text: "2025年9月14日(日) - 15日(月・祝)",
  },
  {
    icon: "mdi:lectern",
    label: "講師",
    text: "希望バプテスト教会 井垣勇基伝道師",
  },
  {
    icon: "mdi:house-city",
    label: "会場",
    text: "千葉市少年自然の家",
    link: {
      url: "https://www.chiba-shizen.jp/",
      text: "Official Website",
    },
  },
  {
    icon: "mdi:money",
    label: "参加費",
    text: "一般 ¥9,500、高校生 ¥8,500",
  },
];

const timetable1 = {
  caption: "Day 1",
  rows: [
    { th: "15:00", td: "受付開始" },
    { th: "16:00", td: "開会式" },
    { th: "17:15", td: "夕食" },
    { th: "19:30", td: "集会" },
    { th: "21:30", td: "入浴" },
    { th: "22:00", td: "就寝" },
  ],
};

const timetable2 = {
  caption: "Day 2",
  rows: [
    { th: "6:30", td: "起床" },
    { th: "7:00", td: "デボーション" },
    { th: "7:30", td: "朝食" },
    { th: "9:00", td: "レクリエーション" },
    { th: "11:00", td: "集会" },
    { th: "12:00", td: "昼食" },
    { th: "14:30", td: "分科会" },
    { th: "16:30", td: "閉会式" },
    { th: "17:30", td: "解散" },
  ],
};

const partialParticipation = [
  {
    label: "1日目 夕食",
    price: "1,100",
  },
  {
    label: "1日目 宿泊",
    price: "5,200",
  },
  {
    label: "2日目 朝食",
    price: "800",
  },
  {
    label: "2日目 昼食",
    price: "900",
  },
];
---

<Layout title={overview.title}>
  <header class="header" style={{ backgroundImage: `url(${hero.src})` }}>
    <h1 class="h1">{overview.title}</h1>

    <div class="theme">
      <ShapedText text={overview.theme} type="square" /><br />
      <small>- {overview.themeVerse} -</small>
    </div>
  </header>

  <main class="main">
    <section class="section">
      <p>主の御名を賛美いたします。</p>
      <p>
        今年もまた、京葉地区青年キャンプを開催する運びとなりましたことを、皆様にご案内申し上げます。
      </p>
      <p>
        美しい自然環境の中で、祈りと賛美、参加者間での交わりを通じて、信仰の歩みを共に励まし合うこの機会へのご参加を、心よりお待ち申し上げております。
      </p>
    </section>

    <section class="section">
      <H2>
        <div slot="en">Event Overview</div>
        <div slot="ja">概要</div>
      </H2>

      <Summary items={summaryItems} />
    </section>

    <section class="section">
      <H2>
        <div slot="en">Speaker Introduction</div>
        <div slot="ja">講師紹介</div>
      </H2>

      <H3 icon="mdi:account-tie">井垣勇基伝道師</H3>
      <div class="speaker">
        <ClippedImage src={speaker} alt="井垣勇基伝道師" shape="ellipse" />
      </div>
      <Bracket>
        ある時一人の友人がこう言いました。「誰かをゴールにすると、その人に制限をかけてしまうんだって。それなら、僕には、制限はない。僕のゴールはイエス・キリストだから。」
        <br />
        「キリストにならう」人の人生は、まさにそのようです。人にではなく、神にしかできないことが起こるのです。今回のキャンプでみことばを学ぶことを通して、「キリストにならう」幸いをともに味わいましょう。
      </Bracket>

      <H4>プロフィール</H4>
      <QAList
        list={[
          { q: "名前", a: "井垣勇基（いがきゆうき）" },
          { q: "家族", a: "妻と息子（1歳半）の三人家族" },
          { q: "趣味", a: "オカリナ" },
          { q: "特技", a: "スイカの早食い" },
          {
            q: "好きな聖句",
            a: "正しい人の進む道は、あけぼのの光のようだ。いよいよ輝きを増して真昼となる。ー 箴言4:18",
          },
        ]}
      />

      <H4>略歴</H4>
      <table class="profile-table">
        <tr>
          <th class="profile-th">1995年</th>
          <td>9月13日生まれ</td>
        </tr>
        <tr>
          <th class="profile-th">2000年</th>
          <td>イエス・キリストの救いに与る</td>
        </tr>
        <tr>
          <th class="profile-th">2004年</th>
          <td>バプテスマ</td>
        </tr>
        <tr>
          <th class="profile-th">2005年</th>
          <td>献身に導かれる</td>
        </tr>
        <tr>
          <th class="profile-th">2008年-2013年</th>
          <td>ホームスクールで教育を受ける</td>
        </tr>
        <tr>
          <th class="profile-th">2015年</th>
          <td>都内の日本語学校に就職</td>
        </tr>
        <tr>
          <th class="profile-th">2017年9月</th>
          <td>日本バプテスト聖書神学校 入学</td>
        </tr>
        <tr>
          <th class="profile-th">2021年6月</th>
          <td>日本バプテスト聖書神学校 卒業</td>
        </tr>
        <tr>
          <th class="profile-th">2021年8月</th>
          <td>調布聖書バプテスト教会にて奉仕</td>
        </tr>
        <tr>
          <th class="profile-th">2023年2月</th>
          <td>結婚</td>
        </tr>
        <tr>
          <th class="profile-th">2024年4月</th>
          <td>希望バプテスト教会にて奉仕</td>
        </tr>
      </table>
    </section>

    <section class="section">
      <H2>
        <div slot="en">Program</div>
        <div slot="ja">プログラム</div>
      </H2>

      <H3 icon="mdi:timetable">タイムテーブル</H3>
      <p>
        ※
        <small>
          他団体との調整により、時間が変更となる場合があります。変更が生じた際は速やかに更新いたします。
        </small>
      </p>
      <TimeTable {...timetable1} />
      <TimeTable {...timetable2} />

      <H3 icon="mdi:run">レクリエーション</H3>
      <p>
        参加者同士の親睦を深めるためのレクリエーションを予定しています。内容については当日のお楽しみとさせていただいておりますが、皆様に楽しんでいただけるよう工夫を凝らした企画を準備しております。
      </p>

      <H3 icon="mdi:account-group">分科会</H3>
      <p>
        分科会では４つのテーマをご用意しております。ご関心のあるテーマを選択の上、ご参加ください。
      </p>

      <H4>神様が導かれる結婚への道のり</H4>
      <p>
        クリスチャンとして、神様の祝福のもとで結婚生活を始めたいと願う方は多いことでしょう。
      </p>
      <p>
        しかし、現代社会において「どのように出会い、どう交際を始めれば良いのか」と悩んでおられる方も多いのではないでしょうか。
      </p>
      <p>
        この分科会では、御言葉に立ち返りながら、神様に喜ばれる出会い方や、健全な交際の始め方について学びます。
      </p>

      <H4>献身の意味とその歩み</H4>
      <p>
        神様への愛と感謝から生まれる献身への思い。しかし「自分は本当に召されているのか」「どのように献身の道を歩めば良いのか」と戸惑いを感じておられる方も多いのではないでしょうか。
      </p>
      <p>
        献身は牧師や宣教師だけのものではありません。すべてのクリスチャンが神様に人生を捧げて歩む、尊い決断と生き方です。
      </p>
      <p>
        この分科会では、すべてのクリスチャンが、それぞれの生活の場で神様に自分自身をささげ、主の栄光を現すための献身について考えます。
      </p>

      <H4>神様に喜ばれる働き方</H4>
      <p>
        私たちの日常生活の大部分を占める仕事。クリスチャンにとって仕事は単なる生活の糧を得る手段ではなく、神様から与えられた大切な使命でもあります。
      </p>
      <p>
        しかし実際には「どのような基準で仕事を選ぶべきか」「忙しい仕事と教会生活をどうバランスを取るか」など、多くの課題に直面しているのではないでしょうか。
      </p>
      <p>
        この分科会では、聖書の価値観をもとに、自分に与えられた賜物を活かした仕事の選び方や、働きながら信仰を保ち教会生活を充実させるための工夫や実践例を学びます。
      </p>

      <H4>奉仕を通して受ける豊かな祝福</H4>
      <p>
        奉仕には神様からの特別な祝福が伴います。しかし「自分には何もできない」「忙しくて時間がない」と感じている方も多いのではないでしょうか。
      </p>
      <p>
        実は奉仕とは、私たちが神様に何かを差し上げるというより、神様が私たちを用いて豊かな恵みを与えてくださる特権なのです。
      </p>
      <p>
        この分科会では、奉仕を通して神様がどのような祝福を与えてくださるのか、教会にどのような力がもたらされるかを学びます。
      </p>
    </section>

    <section class="section">
      <H2>
        <div slot="en">Application</div>
        <div slot="ja">お申し込み</div>
      </H2>

      <H3 icon="mdi:file-document-edit-outline">お申し込み方法</H3>
      <p>下記のリンクより、Webフォームからお申し込みください。</p>
      <ButtonLink
        href="https://form.nitonabbc.org/2025/09/apply/"
        target="_blank"
      >
        参加申し込み
      </ButtonLink>

      <H3 icon="mdi:calendar-clock">お申し込み期限</H3>
      <div class="deadline">
        <strong>2025年8月3日（日）</strong>
      </div>
    </section>

    <section class="section">
      <H2>
        <div slot="en">Additional Information</div>
        <div slot="ja">その他の情報</div>
      </H2>

      <H3 icon="mdi:money">部分参加</H3>
      <p>
        部分参加をご希望の場合、共通の参加費は一般1,500円、高校生500円です。これに加えて、ご利用になる食事および宿泊の料金は以下の通りです。
      </p>
      <PriceTable rows={partialParticipation} />

      <H3 icon="mdi:medical-bag">アレルギー対応</H3>
      <p>
        食物アレルギーによる食事制限等がございます方は、お申し込み時の備考欄にその旨をご記入ください。施設への対応申込書提出が必要となりますため、個別にご連絡をさせていただく場合があります。
      </p>

      <H3 icon="mdi:bag-suitcase">持ち物</H3>
      <p>
        施設にはリンスインシャンプーとボディーソープをご用意されています。タオルやドライヤーの備えはございませんので、聖書、筆記用具、着替え等、宿泊に必要なものと併せてご持参ください。
      </p>

      <H3 icon="mdi:map-marker">アクセス</H3>
      <MapFrame
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3250.345592157749!2d140.2122842757466!3d35.44623774284719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022bcf0679da9e5%3A0x2537fc962f5ae882!2z5Y2D6JGJ5biC5bCR5bm06Ieq54S244Gu5a62!5e0!3m2!1sja!2sjp!4v1750258262525!5m2!1sja!2sjp"
      />
      <H3 icon="mdi:car">駐車場について</H3>
      <p>
        お車でお越しの際は、正門横の駐車場にご駐車いただき、サービスセンター棟までは徒歩でのご移動をお願いいたします。
      </p>

      <H3 icon="mdi:help-circle-outline">お問い合わせ</H3>
      <p>
        ご質問やご不明な点がございましたら、LINEオープンチャットからお気軽にお問い合わせください。下記のリンクからご参加いただけます。
      </p>
      <p>
        <strong class="strong">🔐 参加コード: 0333</strong>
      </p>
      <ButtonLink
        href="https://line.me/ti/g2/WYr1mnNiAIT7mb_pyn2T5JoEMcZXyGUPchf7IA"
        target="_blank"
      >
        オープンチャット
      </ButtonLink>
    </section>
  </main>

  <footer class="footer"><small>京葉地区合同青年会</small></footer>
</Layout>

<style>
  .header {
    background: var(--color-text) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
  }

  .h1 {
    background: #ffffff80;
    border-radius: 0 4px 4px 0;
    font-size: 1rem;
    margin: 0.5em auto 0 0;
    padding: 0.5em 1em;
  }

  .theme {
    color: var(--color-background);
    margin: 1em;
    text-align: right;
  }

  .main {
    margin: auto;
    max-width: 600px;
    padding: 0 1.5em;
  }

  .section {
    margin: 15vh 0;
  }

  .strong {
    color: var(--color-accent);
  }

  .speaker {
    margin: 2em auto;
    max-width: 280px;
  }

  .profile-table {
    border-collapse: collapse;
    font-size: 85%;
    margin: 1em 0;
    table-layout: fixed;
  }

  .profile-th {
    font-weight: normal;
    padding: 0 1em 0 0;
    text-align: left;
  }

  .deadline {
    background: linear-gradient(
      135deg,
      currentColor 0%,
      currentColor 5%,
      transparent 5%,
      transparent 95%,
      currentColor 95%,
      currentColor 100%
    );
    border: currentColor solid 3px;
    border-radius: 4px;
    color: var(--color-accent);
    margin: 1em 0;
    padding: 2em;
    text-align: center;
  }

  .footer {
    padding: 20vh 0 5vh;
    text-align: center;
  }
</style>
