---
import Layout from "@/layouts/Layout.astro";
// import ButtonLink from "@/components/shared/ButtonLink.astro";
import MapFrame from "@/components/shared/MapFrame.astro";
// import TimeTable from "@/components/shared/TimeTable.astro";
import hero from "@/assets/2025/09/hero.webp";

const overview = {
  title: "京葉地区青年キャンプ 2025",
  theme: "キリストに倣いて",
  themeVerse: "マタイの福音書 11:29",
};

// const timetable1 = {
//   caption: "Day 1",
//   rows: [
//     { th: "15:00", td: "受付開始" },
//     { th: "16:00", td: "開会式" },
//     { th: "17:15", td: "夕食" },
//     { th: "19:30", td: "集会" },
//     { th: "21:30", td: "入浴" },
//     { th: "22:00", td: "就寝" },
//   ],
// };

// const timetable2 = {
//   caption: "Day 2",
//   rows: [
//     { th: "7:00", td: "デボーション" },
//     { th: "7:30", td: "朝食" },
//     { th: "9:00", td: "レクリエーション" },
//     { th: "11:00", td: "集会" },
//     { th: "12:00", td: "昼食" },
//     { th: "14:30", td: "分科会" },
//     { th: "16:30", td: "閉会式" },
//     { th: "17:30", td: "解散" },
//   ],
// };
---

<Layout title={overview.title}>
  <header class="header" style={{ backgroundImage: `url(${hero.src})` }}>
    <h1 class="h1">{overview.title}</h1>

    <div class="theme">
      <span class="theme-text">
        {
          overview.theme
            .split("")
            .map((char) => <span class="char-square">{char}</span>)
        }
      </span><br />
      <small class="verse">- {overview.themeVerse} -</small>
    </div>
  </header>
</Layout>

<style>
  .header {
    background: var(--color-text) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
  }

  .h1 {
    background: #00000080;
    backdrop-filter: blur(3px);
    border-radius: 4px;
    color: var(--color-background);
    font-size: 1rem;
    margin: 0.5em auto 0 0.5em;
    padding: 1em 1.5em;
  }

  .theme {
    margin: 1em;
    text-align: right;
  }

  .theme-text {
    display: inline-flex;
    gap: 0.2em;
  }

  .char-square {
    background: var(--color-background);
    border-radius: 2px;
    display: inline-block;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
  }

  .verse {
    color: var(--color-background);
  }
</style>
