---
import Layout from "@/layouts/Layout.astro";
import ButtonLink from "@/components/shared/ButtonLink.astro";
import MapFrame from "@/components/shared/MapFrame.astro";
import ShapedText from "@/components/shared/ShapedText.astro";
import TimeTable from "@/components/shared/TimeTable.astro";
import H2 from "@/components/2025/09/H2.astro";
import H3 from "@/components/2025/09/H3.astro";
import Summary from "@/components/2025/09/Summary.astro";
import hero from "@/assets/2025/09/hero.webp";

const overview = {
  title: "京葉地区青年キャンプ 2025",
  theme: "キリストに倣いて",
  themeVerse: "マタイの福音書 11:29",
};

const summaryItems = [
  {
    icon: "mdi:calendar-month-outline",
    label: "日程",
    text: "2025年9月14日(日) - 15日(月・祝)",
  },
  {
    icon: "mdi:lectern",
    label: "講師",
    text: "希望バプテスト教会 井垣勇基伝道師",
  },
  {
    icon: "mdi:house-city",
    label: "会場",
    text: "千葉市少年自然の家",
    link: {
      url: "https://www.chiba-shizen.jp/",
      text: "Official Website",
    },
  },
  {
    icon: "mdi:money",
    label: "参加費",
    text: "一般 9,500円、高校生 8,500円",
  },
];

const timetable1 = {
  caption: "Day 1",
  rows: [
    { th: "15:00", td: "受付開始" },
    { th: "16:00", td: "開会式" },
    { th: "17:15", td: "夕食" },
    { th: "19:30", td: "集会" },
    { th: "21:30", td: "入浴" },
    { th: "22:00", td: "就寝" },
  ],
};

const timetable2 = {
  caption: "Day 2",
  rows: [
    { th: "7:00", td: "デボーション" },
    { th: "7:30", td: "朝食" },
    { th: "9:00", td: "レクリエーション" },
    { th: "11:00", td: "集会" },
    { th: "12:00", td: "昼食" },
    { th: "14:30", td: "分科会" },
    { th: "16:30", td: "閉会式" },
    { th: "17:30", td: "解散" },
  ],
};
---

<Layout title={overview.title}>
  <header class="header" style={{ backgroundImage: `url(${hero.src})` }}>
    <h1 class="h1">{overview.title}</h1>

    <div class="theme">
      <ShapedText text={overview.theme} type="square" /><br />
      <small>- {overview.themeVerse} -</small>
    </div>
  </header>

  <main class="main">
    <section class="section">
      <p>主の御名を賛美いたします。</p>
      <p>
        今年もまた、京葉地区青年キャンプを開催する運びとなりましたことを、皆様にご案内申し上げます。
      </p>
      <p>
        美しい自然の中で、祈りや賛美、分かち合いの時を通して、主からの新しい気づきと励ましを受け取る素晴らしい機会となることを願っています。
      </p>
      <p>
        新しい出会いと再会の喜びの中で、信仰の歩みをともに励まし合えるこの機会へのご参加を、心よりお待ち申し上げております。
      </p>
    </section>

    <section class="section">
      <H2>
        <div slot="en">Event Overview</div>
        <div slot="ja">概要</div>
      </H2>

      <Summary items={summaryItems} />
    </section>

    <section class="section">
      <H2>
        <div slot="en">Program</div>
        <div slot="ja">プログラム</div>
      </H2>

      <H3 icon="mdi:timetable">タイムテーブル</H3>
      <p>
        ※ <small>他団体との兼ね合いで時間が前後する可能性があります</small>
      </p>
      <TimeTable {...timetable1} />
      <TimeTable {...timetable2} />
    </section>
  </main>
</Layout>

<style>
  .header {
    background: var(--color-text) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
  }

  .h1 {
    background: #ffffff80;
    border-radius: 0 4px 4px 0;
    font-size: 1rem;
    margin: 0.5em auto 0 0;
    padding: 0.5em 1em;
  }

  .theme {
    color: var(--color-background);
    margin: 1em;
    text-align: right;
  }

  .main {
    margin: auto;
    max-width: 600px;
  }

  .section {
    padding: 1.5em;
  }
</style>
