---
import Layout from "@/layouts/Layout.astro";
import ButtonLink from "@/components/ButtonLink.astro";
import MapFrame from "@/components/MapFrame.astro";
import hero from "./_hero.webp?url";

const ja = {
  title: "京葉地区一泊お泊まり会のご案内",
  theme: "みことばによる交わり",
  verse: " 使徒17:11 -",
};

const en = {
  title: "Keiyo Area Overnight Retreat Announcement",
  theme: "Fellowship through the Word",
  verse: "- Acts 17:11 -",
};
---

<Layout title={ja.title}>
  <div class="welcome block" style={{ backgroundImage: `url(${hero})` }}>
    <header class="header">
      <h1 class="h1">{ja.title}<br />{en.title}</h1>
    </header>
    <div class="theme">
      <p>{ja.theme}<br />{ja.verse}</p>
      <p>{en.theme}<br />{en.verse}</p>
    </div>
  </div>

  <main class="main">
    <section class="section">
      <p>
        主の御名を賛美いたします。京葉地区での一泊お泊まり会の開催をご案内申し上げます。
      </p>
      <p>
        この集まりを通じて、信仰の仲間と共に深い交流を持ち、主の愛に満ちた時間を過ごせることを願っています。どうぞご参加ください。主に在りて。
      </p>
      <p>
        Praise be to the name of the Lord. We are pleased to announce the
        holding of an overnight gathering in the Keiyo area.
      </p>
      <p>
        Through this gathering, we hope to have deep fellowship with fellow
        believers and spend a time filled with the Lord's love. Please join us.
        In the Lord.
      </p>
    </section>

    <section class="section">
      <h2 class="head-1">概要<br /><em>Event Overview</em></h2>

      <h3 class="head-2">日時<br /><em>Date and Time</em></h3>
      <p>
        2024年9月22日(日) 〜 23日(月・祝)<br />
        Sep 22 (Sun) - Sep 23 (Mon, Holiday), 2024
      </p>

      <h3 class="head-2">会場<br /><em>Venue</em></h3>
      <p>
        BumB 東京スポーツ文化館<br />
        BumB Tokyo Sports Culture Center
      </p>

      <h3 class="head-2">講師<br /><em>Speaker</em></h3>
      <p>
        滝山聖書バプテスト教会 高木拓哉伝道師<br />

        Takagi Takuya, Evangelist
        <span class="no-wrap">from Takiyama Bible Baptist Church</span>
      </p>

      <h3 class="head-2">参加費<br /><em>Participation Fee</em></h3>
      <p>
        22歳以下: 7,000円、 一般: 8,000円<br />
        Ages 22 and under: ¥7,000, General: ¥8,000
      </p>
    </section>

    <section class="section">
      <h2 class="head-1">スケジュール<br /><em>Schedule</em></h2>

      <h3 class="head-2">プログラム詳細<br /><em>Program Details</em></h3>

      <h3 class="head-2">レクリエーション<br /><em>Recreation</em></h3>

      <h3 class="head-2">テーマ別集会<br /><em>Thematic Meetings</em></h3>
    </section>

    <section class="section">
      <h2 class="head-1">申し込み<br /><em>Application</em></h2>

      <h3 class="head-2">申し込み方法<br /><em>Application Method</em></h3>
      <p>
        次のリンクより、Webフォームからお申し込みください。お1人づつお申し込みをお願いいたします。
      </p>
      <p>
        Please apply using the web form from the following link. Please apply
        individually.
      </p>
      <ButtonLink
        href="https://form.nitonabbc.org/#/entry/2024/09"
        target="_blank"
      >
        参加申し込み - Apply Now
      </ButtonLink>

      <h3 class="head-2">申込期限<br /><em>Application Deadline</em></h3>
      <p>2024年8月4日(日)</p>
      <p>August 4, 2024 (Sunday)</p>
    </section>

    <section class="section">
      <h2 class="head-1">その他の情報<br /><em>Additional Information</em></h2>

      <h3 class="head-2">アクセス<br /><em>Access</em></h3>
      <MapFrame
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12968.426070133624!2d139.8299139!3d35.6497472!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018883c5dbb0623%3A0xc26f94a6ff247d1a!2zQnVtQiDmnbHkuqzjgrnjg53jg7zjg4TmlofljJbppKg!5e0!3m2!1sja!2sjp!4v1718553573811!5m2!1sja!2sjp"
      />

      <h3 class="head-2">持ち物<br /><em>What to Bring</em></h3>

      <h3 class="head-2">お問い合わせ<br /><em>Contact Information</em></h3>
      <p>
        次のリンクより、LINE オープンチャットにてお問い合わせください。<br />
        <strong>参加コード：0333</strong>
        <ButtonLink
          href="https://line.me/ti/g2/WYr1mnNiAIT7mb_pyn2T5JoEMcZXyGUPchf7IA"
          target="_blank"
        >
          LINE オープンチャット
        </ButtonLink>
      </p>
    </section>
  </main>
</Layout>

<footer class="footer"><small>担当：仁戸名聖書バプテスト教会</small></footer>

<style>
  .welcome {
    background: var(--color-text) no-repeat center center / cover;
    font-family: var(--font-serif);
    text-align: center;
  }

  .header {
    color: white;
    line-height: 2;
    margin: 10vh auto auto;
    text-shadow:
      0 0 3px #2e8b57,
      0 0 5px #2e8b57,
      0 0 8px #2e8b57;
  }

  .theme {
    background: linear-gradient(to right, #00640080, #556b2f80, #2e8b5780);
    border-radius: 5px;
    color: white;
    font-size: 125%;
    font-weight: bold;
    margin: auto auto 10vh;
    padding: 0 1.5em;
    text-shadow: 0 1px black;
  }

  .h1 {
    font-size: 100%;
    margin: 0;
  }

  .main {
    --color-primary: #2e8b57;
    --color-accent: #6414cc;
    margin: auto;
    max-width: 600px;
    padding: 0 1.5em;
  }

  .section {
    margin: 10vh 0;
  }

  .footer {
    padding: 4em 0;
    text-align: center;
  }

  @media (min-width: 1200px) {
    .welcome {
      font-size: 1.5vw;
    }
  }
</style>
