---
import { Image } from "astro:assets";
import { ENDPOINT_MEDIA_PATH } from "@/constants/config";
import Layout from "@/layouts/Layout.astro";
import BlockLink from "@/components/BlockLink.astro";
import logo from "./_assets/logo.webp";
import lakeYamanaka from "./_assets/lake-yamanaka.webp";
import navList from "./_assets/navigation.json";

const linkTags = [
  {
    rel: "preconnect",
    href: "https://fonts.googleapis.com",
  },
  {
    rel: "preconnect",
    href: "https://fonts.gstatic.com",
    crossorigin: "",
  },
  {
    rel: "stylesheet",
    href: "https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap&text=テーマ『起きよ！輝け』イザヤ60:1.25MON7WED",
  },
];
---

<Layout
  title="2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
  linkTags={linkTags}
>
  <header class="block">
    <h1 class="h1 gradient-text">
      <small>2025 第56回</small><br />
      JBBF全国青年フェローシップキャンプ
    </h1>
  </header>

  <main class="main">
    <section class="block theme">
      <div>
        <h2 class="theme-head">テーマ</h2>
        <p class="theme-text">『起きよ！輝け！』</p>
        <div class="theme-verse">イザヤ 60:1</div>
      </div>
    </section>

    <section class="date-container">
      <Image src={lakeYamanaka} alt="" class="img" />

      <div class="date">
        <time datetime="2025-05-05">2025.5.5<span class="week">MON</span></time>
        <div>
          <svg width="6" height="40" class="svg">
            <line
              x1="3"
              y1="0"
              x2="3"
              y2="40"
              stroke="currentColor"
              stroke-width="1"></line>
            <polygon points="0,35 6,35 3,40" fill="currentColor"></polygon>
          </svg>
        </div>
        <time datetime="2025-05-07">2025.5.7<span class="week">WED</span></time>
      </div>
    </section>

    <section class="video-container">
      <video controls class="video">
        <source
          src=`${ENDPOINT_MEDIA_PATH}/youth-fellowship-camp-2025/promotional-720p.mp4`
          type="video/mp4"
        />
      </video>
    </section>

    <section class="content">
      <ul class="link-list">
        {
          navList.map(({ href, en, ja }) => (
            <li class="link-item">
              <BlockLink href={href}>
                <div class="en">{en}</div>
                <div class="ja">{ja}</div>
              </BlockLink>
            </li>
          ))
        }
      </ul>
    </section>
  </main>

  <footer class="footer">
    <small>
      主催：仁戸名聖書バプテスト教会・幕張聖書バプテスト教会<br />
      協力：市原聖書バプテスト教会
    </small>
  </footer>
</Layout>

<style is:global>
  body .viewport {
    background: transparent;
  }
</style>

<style>
  body {
    background: black;
    transition: background-color 1s;
  }

  body.light {
    background: white;
    transition: background-color 2s linear;
  }

  .block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
  }

  .gradient-text {
    background-image: linear-gradient(
      to top right,
      #3f51b1,
      #5a55ae,
      #7b5fac,
      #8f6aae,
      #a86aa4,
      #cc6b8e,
      #f18271,
      #f3a469
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .h1 {
    color: gray;
    font-size: clamp(18px, 2vw, 40px);
    margin: 0;
  }

  .theme {
    color: black;
    font-family: "Yuji Syuku", serif;
    font-size: clamp(32px, 3vw, 64px);
    text-shadow: 0 0 40px white;
  }

  .theme-head {
    font-size: 50%;
    font-weight: normal;
    margin: 0;
  }

  .theme-text {
    margin: 8px 0;
  }

  .theme-verse {
    font-size: 50%;
    text-align: right;
  }

  .date-container {
    position: relative;
  }

  .img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .date {
    align-items: center;
    background: #00000080;
    background: linear-gradient(#000000cc, #00000033);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Yuji Syuku", serif;
    font-size: clamp(40px, 4vw, 80px);
    gap: 1em;
    inset: 0;
    justify-content: center;
    line-height: 1;
    position: absolute;
  }

  .week {
    font-size: 40%;
    margin: 0 0 0 0.5em;
  }

  .svg {
    vertical-align: top;
  }

  .video-container {
    background: white;
    padding: 0.5em;
  }

  .video {
    display: block;
    width: 100%;
  }

  .content {
    background: var(--color-text);
    color: var(--color-background);
    padding: 80px 0;
  }

  .link-list {
    display: grid;
    font-size: clamp(1rem, 2vw, 40px);
    gap: 1em;
    list-style: none;
    margin: auto;
    max-width: 600px;
    padding: 0 1.5em;
  }

  .link-item {
    text-shadow: 0 0 0.5em currentColor;
  }

  .link-item:nth-child(1) {
    color: #e6d8b3;
  }

  .en {
    font-family: var(--font-serif);
    font-size: 120%;
  }

  .ja {
    letter-spacing: 0.05em;
  }

  .footer {
    background: var(--color-text);
    color: var(--color-background);
    font-size: 90%;
    padding: 40px 1em;
    text-align: center;
  }

  @media (max-width: 768px) {
    .date-container {
      height: 100vh;
      height: 100svh;
    }
  }
</style>

<script>
  const theme = document.querySelector(".theme");
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting && entry.target instanceof HTMLElement) {
          document.body.classList.add("light");
        } else {
          document.body.classList.remove("light");
        }
      });
    },
    { rootMargin: "0px 0px -50%" }
  );

  if (theme) {
    observer.observe(theme);
  }
</script>
